<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-center">

        <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>CineCat<span>.</span></h1>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/">Home</a></li>
                <li><a class="nav-link scrollto" th:href="@{/films}">Films</a></li>
                <li><a class="nav-link scrollto" th:href="@{/getseats}" target="_blank">Seats</a></li>
                <li><a class="nav-link scrollto" th:href="@{/schedule/AllSchedule}" target="_blank">Schedule</a></li>
                <li><a class="nav-link scrollto" th:href="@{/bookings}" target="_blank">Booking</a></li>
                <li><a class="nav-link scrollto" href="index.html#about" >About</a></li>
                <li><a class="nav-link scrollto" href="index.html#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="index.html#team">Team</a></li>

                <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->