<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Seat - Bioskop Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/added-user}" th:object="${user}" method="post">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input class="form-control" name="username" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" name="emailId" id="emailId" placeholder="Email@email.com">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>