<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bioskop Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>

<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="/assets/img/beluga-cat1 .jpg"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">SCHEDULE REGISTRASTION FORM</h3>
                                <form action="#" th:action="@{/tambah-schedule}" th:object="${schedule}" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" th:field="*{films.filmId}" id="filmId" class="form-control form-control-lg" />
                                            <label class="form-label" for="filmId">Film ID</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" th:field="*{seats.seatId}" id="seatId" class="form-control form-control-lg" />
                                            <label class="form-label" for="seatId">Seat ID</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input class="form-control" type="date" th:field="*{dateShow}" id="dateShow" >
                                            <label class="form-label" for="dateShow">Date Show</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="number" th:field="*{price}" id="price" class="form-control form-control-lg" />
                                            <label class="form-label" for="price">Movie Price</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{showStart}" id="showStart" class="form-control form-control-lg" />
                                    <label class="form-label" for="showStart">Movie Start</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" th:field="*{showEnd}" id="showEnd" class="form-control form-control-lg" />
                                    <label class="form-label" for="showEnd">Movie End</label>
                                </div>

                                <div class="d-flex justify-content-end pt-3">
                                    <button type="submit" class="btn btn-info">Add Schedule</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div class="container">-->


<!--        <label class="form-label" for="filmId">Film Id</label>-->
<!--        <input class="form-control" type="text" th:field="*{films.filmId}" id="filmId" placeholder="Place your Id">-->
<!--        &lt;!&ndash;    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>&ndash;&gt;-->
<!--        <label class="form-label" for="seatId">Seat Id</label>-->
<!--        <input class="form-control" type="text" th:field="*{seats.seatId}" id="seatId" placeholder="Place your Id">-->
<!--        &lt;!&ndash;    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>&ndash;&gt;-->
<!--        <label class="form-label" for="dateShow">Date Show</label>-->
<!--        <input class="form-control" type="date" th:field="*{dateShow}" id="dateShow" >-->
        <!--    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
<!--        <label class="form-label" for="price">Movie Price</label>-->
<!--        <input class="form-control" type="number" th:field="*{price}" id="price" >-->
<!--        &lt;!&ndash;    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>&ndash;&gt;-->
<!--        <label class="form-label" for="showStart">Show Start</label>-->
<!--        <input class="form-control" type="text" th:field="*{showStart}" id="showStart" >-->
<!--        &lt;!&ndash;    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>&ndash;&gt;-->
<!--        <label class="form-label" for="showEnd">Show End</label>-->
<!--        <input class="form-control" type="text" th:field="*{showEnd}" id="showEnd" >-->
<!--        &lt;!&ndash;    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>&ndash;&gt;-->

<!--    </form>-->

<!--</div>-->
</body>
</html>