<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="">table</h1>
    <div class="row">
        <div class="col-8 mx-auto">
            <div th:switch="${bookings}">
                <h2 th:case="null">No bookings yet!</h2>
                <div th:case="*">
                    <h2 class="text-center">Booking</h2>
                    <h3 th:case="null">No bookings yet!</h3>
                    <table class="table table-danger table-striped">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>filmname</th>
                            <th>seats</th>
                            <th>studioname</th>
                            <th>tanggaltayang</th>
                                            <th>Edit</th>
<!--                                            <th>Delete</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="booking : ${bookings}">
                            <td th:text="${booking.user.username}"></td>
                            <td th:text="${booking.schedule.films.name}"></td>
                            <td th:text="${booking.schedule.seats.seatNumber}"></td>
                            <td th:text="${booking.schedule.seats.studioName}"></td>
                            <td th:text="${booking.schedule.dateShow}"></td>
                                            <td><a th:href="@{/update/bookings/{id}(id=${booking.bookingId})}">Edit</a></td>
<!--                                            <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!--    <p><a href="/signup">Add a new user</a></p>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>