  <!doctype html>
  <html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Area of Cat</title>
    <link href="assets/img/infosys-logo.png" rel="icon">
    <link href="assets/img/infosys-logo.png" rel="ist-logo">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
<body>

<div class="container mt-4">
  <div class="row justify-content-between">

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/cat-thinking.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Films</h5>
          <p class="card-text">Add New Films, with add images first then add the film.</p>
          <a th:href="@{/management/add-images}" class="btn btn-primary">Add Images</a>
          <a th:href="@{/management/add-film}" class="btn btn-primary">Add Data</a>
          <a th:href="@{/management/films}" class="btn btn-primary my-3">Edit</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/cat-thinking.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Schedule</h5>
          <p class="card-text">Add New Schedule For Film that already added, with seats.</p>
          <a th:href="@{/add-schedule}" class="btn btn-primary">Add Data</a>
          <a th:href="@{/schedule/AllSchedule}" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/img/cat-seats-fix.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Seats</h5>
          <p class="card-text">Add New Seats, with attribute seats number, studio name, and status seat.</p>
          <a href="" data-bs-toggle="modal" data-bs-target="#modalInpSeat" class="btn btn-primary">Add Seats</a>
          <a th:href="@{/getseats}" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
    </div>

    <div class="row h-100 justify-content-between" >

      <div class="col-sm-4 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/cat-thinking.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bookings</h5>
            <p class="card-text">Edit bookings that already booked by user.</p>
            <a th:href="@{/bookings}" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="assets/img/cat-thinking.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">Manage the user of CineCat.</p>
            <a href="" data-bs-toggle="modal" data-bs-target="#modalInpUser" class="btn btn-primary">Add User</a>
            <a th:href="@{/getusers}" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 mb-3 d-flex justify-content-center align-items-end">

        <div class="card border-" style="width: 18rem;">

        <a class="btn btn-info text-light btn-sm-4 mb-3" th:href="@{/}">Back to Index</a>
        </div>


      </div>

    </div>

  </div>



<!-- Modal Input Seat-->
<div class="modal fade" id="modalInpSeat" tabindex="-1" aria-labelledby="modalInpSeatLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInpSeatLabel">Input Kursi Baru</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" th:action="@{/added-seats}" th:object="${seats}" method="post">
          <div class="mb-3">
            <label class="form-label">Studio</label>
            <select class="form-select" name="studioName" id="studioName" aria-label="Default select example">
              <option selected>Pilih Studio</option>
              <option value="Studio A">Studio A</option>
              <option value="Studio B">Studio B</option>
              <option value="Studio C">Studio C</option>
              <option value="Studio D">Studio D</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">No Kursi</label>
            <input class="form-control" name="seatNumber" id="seatNumber" placeholder="Nomor Kursi">
          </div>
          <div class="mb-3">
            <label class="form-label">Is Available</label>
            <select class="form-select" name="isAvailable" aria-label="Default select example">
              <option selected>Status Kursi</option>
              <option value="AVAILABLE">AVAILABLE</option>
              <option value="NOT_AVAILABLE">NOT AVAILABLE</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Input User-->
<div class="modal fade" id="modalInpUser" tabindex="-1" aria-labelledby="modalInpUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalInpUserLabel">Input New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" th:action="@{/added-user}" th:object="${user}" method="post">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" name="username" id="username" placeholder="Username">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="emailId" id="emailId" placeholder="Email@email.com">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>