<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">

</head>
<body>
<div th:switch="${schedules}">
    <h2 th:case="null">No Schedules yet!</h2>
    <div th:case="*">
        <h2>Movie Schedules</h2>
        <table class="table table-danger table-striped">
            <thead>
            <tr>
                <th>Movies</th>
                <th>Schedules</th>
                <th>Movie Start</th>
                <th>Movie End</th>
                <th>Movie Price</th>
                <th>Seat Number</th>
                <th>Edit Schedule</th>
                <th>Delete Schedule</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.films.name}"></td>
                <td th:text="${schedule.dateShow}"></td>
                <td th:text="${schedule.showStart}"></td>
                <td th:text="${schedule.showEnd}"></td>
                <td th:text="${schedule.price}"></td>
                <td th:text="${schedule.seats.seatNumber}"></td>

                <td><a th:href="@{/update/schedule/{id}(id=${schedule.scheduleId})}"><button type="submit">Edit</button></a></td>
                <td><a th:href="@{/delete/schedule/{id}(id=${schedule.scheduleId})}"><button type="submit">Delete</button></a></td>
                <
            </tr>
            </tbody>
    </table>
<!--    <p><a href="/signup">Add a new user</a></p>-->
        </div>
</div>
</body>
</html>