<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show All User Data</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicons -->
    <link href="assets/img/infosys-logo.png" rel="icon">
    <link href="assets/img/infosys-logo.png" rel="ist-logo">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!--    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">-->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Variables CSS Files. Uncomment your preferred color scheme -->
    <!-- <link href="assets/css/variables.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-blue.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-green.css" rel="stylesheet"> -->
    <link href="assets/css/variables-orange.css" rel="stylesheet">
    <!-- <link href="assets/css/variables-purple.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-red.css" rel="stylesheet"> -->
    <!-- <link href="assets/css/variables-pink.css" rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: HeroBiz - v2.1.0
    * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
    </svg>
    <div class="container-sm">
        <div class="alert alert-success d-flex align-items-center" role="alert" th:if="${success}">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Sweet!</strong><div th:text="${success}"></div>
        </div>
        <div class="alert alert-primary d-flex align-items-center" role="alert" th:if="${updated}">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
            <strong>Nicely Done!</strong><div th:text="${updated}"></div>
        </div>
        <div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${deleted}">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <strong>Nice!</strong><div th:text="${deleted}"></div>
        </div>
        <div th:switch="${users}">
            <h2 th:case="null">No seats yet!</h2>
            <div th:case="*">
                <h2>Kursi Bioskop</h2>
                <table class="table">
                    <div class="container mt-4">
                        <div class="row justify-content-between">
                            <div class="col-sm-4">
                                <a class="btn btn-primary btn-sm" th:href="@{/management}">Back</a>
                                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalNewUser">Add New User</a>
                            </div>
                            <!-- Seach User Contains -->
<!--                            <div class="col-sm-4">-->
<!--                                <form action="#" method="get" th:action="@{/seats-status}">-->
<!--                                    <div class="input-group mb-3">-->
<!--                                        <input class="form-control" name="containame" id="containame" placeholder="Search User">-->
<!--                                        <button class="btn btn-outline-secondary" id="button-addon2" type="submit"><i class="bi bi-search"></i></button>-->
<!--                                    </div>-->
<!--                                </form>-->
<!--                            </div>-->
                        </div>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.emailId}"></td>
                            <td th:text="${user.password}"></td>
                            <td><a class="badge bg-warning" th:href="@{/update/user/{id}(id=${user.userId})}"><i class="bi bi-pencil-square"></i></a></td>
                            <td><a class="badge bg-danger" th:href="@{/delete/user/{id}(id=${user.userId})}" onclick="return confirm('Apakah Anda Yaking Menghapus User')"><i class="bi bi-x-circle"></i></a></td>
                        </tr>
                    </tbody>
                    </div>
                </table>
                <!-- Pagination Section -->
                <div th:if="${totalPages <= 10}">
                    <span th:if="${page!=null or #httpServletRequest.requestURI == '/getusers'}">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        Total Rows: [[${totalItems}]]
                                    </div>
                                    <div class="col-lg-6">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item"><a class="page-link" th:href="@{'/getusers/' + ${currentPage - 1}}"th:if="${currentPage != 1}">Previous</a></li>
                                                <li class="page-item"><span class="page-link disabled" th:unless="${currentPage != 1}">Previous</span></li>
                                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                                    <li class="page-item"><a class="page-link" th:href="@{'/getusers/' + ${i}}" th:if="${currentPage != i}">[[${i}]]</a></li>
                                                    <li class="page-item active"><span class="page-link"th:unless="${currentPage != i}">[[${i}]]</span></li>
                                                </span>
                                                <li class="page-item"> <a class="page-link" th:href="@{'/getusers/' + ${currentPage + 1}}"th:if="${currentPage < totalPages}">Next</a></li>
                                                <li class="page-item"><span class="page-link disabled" th:unless="${currentPage < totalPages}">Next</span></li>
                                                <li class="page-item"><a class="page-link" th:href="@{'/getusers/' + ${totalPages}}" th:if="${currentPage < totalPages}">Last</a></li>
                                                <li class="page-item"> <span class="page-link disabled" th:unless="${currentPage < totalPages}">Last</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </span>

<!--                    <span th:if="${#request.getParameter('isAvailable') != null}">-->
<!--                            <div class="container">-->
<!--                                <div class="row justify-content-center">-->
<!--                                    <div class="col-lg-6">-->
<!--                                        Total Rows: [[${totalItems}]]-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-6">-->
<!--                                        <nav aria-label="Page navigation example">-->
<!--                                            <ul class="pagination">-->
<!--                                                <li class="page-item"><a class="page-link" th:href="@{'/seats-status/' + ${currentPage - 1}(isAvailable=${param.isAvailable})}"th:if="${currentPage != 1}">Previous</a></li>-->
<!--                                                <li class="page-item"><span class="page-link disabled" th:unless="${currentPage != 1}">Previous</span></li>-->
<!--                                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--                                                    <li class="page-item"><a class="page-link" th:href="@{'/seats-status/' + ${i}(isAvailable=${param.isAvailable})}" th:if="${currentPage != i}">[[${i}]]</a></li>-->
<!--                                                    <li class="page-item active"><span class="page-link"th:unless="${currentPage != i}">[[${i}]]</span></li>-->
<!--                                                </span>-->
<!--                                                <li class="page-item"> <a class="page-link" th:href="@{'/seats-status/' + ${currentPage + 1}(isAvailable=${param.isAvailable})}"th:if="${currentPage < totalPages}">Next</a></li>-->
<!--                                                <li class="page-item"><span class="page-link disabled" th:unless="${currentPage < totalPages}">Next</span></li>-->
<!--                                                <li class="page-item"><a class="page-link" th:href="@{'/seats-status/' + ${totalPages}(isAvailable=${param.isAvailable})}" th:if="${currentPage < totalPages}">Last</a></li>-->
<!--                                                <li class="page-item"> <span class="page-link disabled" th:unless="${currentPage < totalPages}">Last</span></li>-->
<!--                                            </ul>-->
<!--                                        </nav>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </span>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Input Seat-->
    <div class="modal fade" id="modalNewUser" tabindex="-1" aria-labelledby="modalNewUserLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalNewUserLabel">Input User Baru</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/added-user}" th:object="${user}" method="post">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control" name="username" id="username" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="emailId" id="emailId" placeholder="Email@email.com">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>